body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

#text-container {
  margin-bottom: 20px;
}

textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  font-size: 16px;
}

#result-container {
  margin-bottom: 10px;
}

#timer-container {
  font-size: 18px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}
